In [28]:
#Kelsey Zubiate
#tpe010

## Aviation Obstacle Data Visualization Project
The original data can be located at: https://www.faa.gov/air_traffic/flight_info/aeronav/digital_products/DailyDOF/

The data for this project was accessed 10/29/2025

This project will take data from the FAA website titled Daily Digital Obstacle File (DOF). The DOF tracks obstacles locations and basic descriptions for aviation users. This project will only look into the state of Texas obstacles and display two visualizations to detail the data.

Reference for data detail information: https://www.faa.gov/air_traffic/flight_info/aeronav/obst_data/

In [29]:
#Import pandas
import pandas as pd

#Import csv file and create a dataframe
df_DOF = pd.read_csv('DOF.csv')
#Clean the data by removing NA's
df_clean = df_DOF.dropna()
#Display the Dataframe
#display(df_clean)

# Milestone 3 
#Create dataframe with only Texas data
df_texas = df_clean [df_clean ['STATE'] == 'TX'].reset_index()
#Only keep columns needed, copied into new dataframe
df_tx_clean = df_texas[['OAS', 'CITY', 'LATDEC', 'LONDEC', 'TYPE', 'AGL', 'JDATE']].copy()
#Change the date format to be easily readable
df_tx_clean['DATE']=pd.to_datetime(df_tx_clean['JDATE'], format='%Y%j')
#Drop the prior jdate column
df_tx_clean.drop(columns=['JDATE'], inplace=True)
#Rename columns to be easily readable for later use
df_tx_clean = df_tx_clean.rename(columns={"OAS" : "Obstacle Authoritative Source", "CITY" : "City",
                                          "LATDEC" : "Latitude", "LONDEC" : "Longitude", "TYPE" : "Type", "AGL" : "Above Ground Level", "DATE" : "Date"})
#Display dataframe so far
display(df_tx_clean)

,Obstacle Authoritative Source,City,Latitude,Longitude,Type,Above Ground Level,Date
0,48-186934,BROWNSVILLE,25.873465,-97.428572,TOWER,85,2021-08-31
1,48-165381,BROWNSVILLE,25.883684,-97.389600,TOWER,110,2019-12-11
2,48-014535,BROWNSVILLE,25.886028,-97.420639,TOWER,100,2007-03-04
3,48-014685,BROWNSVILLE,25.886112,-97.423445,TOWER,108,2007-03-04
4,48-147209,BROWNSVILLE,25.890937,-97.434717,TOWER,113,2019-01-08
...,...,...,...,...,...,...,...
62647,48-022343,GRUVER,36.499142,-101.342637,WINDMILL,389,2014-05-04
62648,48-022341,GRUVER,36.499142,-101.347181,WINDMILL,389,2014-05-04
62649,48-022338,GRUVER,36.499145,-101.353978,WINDMILL,389,2014-05-04
62650,48-022344,GRUVER,36.499150,-101.340370,WINDMILL,389,2014-05-04
62651,48-008368,GRUVER,36.499334,-101.465667,TOWER,420,2017-05-02